.container {
	padding-right: 16px;
	padding-left: 16px;
	
}

.header, .spellbook-menu, .spell-level {
	margin-top: 2px;
	margin-bottom: 2px;
}

.header .btn-default {
	background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}

.spellbook-menu  .btn-default {
	background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}

.spell-level .btn-default {
	background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}


.attributes {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #337ab7;
}

.attributes .attribute {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #337ab7;
}

@media screen and (max-width: 480px) {
.abilities .btn{
	font-size:70%;
	width: 100%

}
}

@media screen and (max-width: 400px) {
.abilities .btn{
	font-size:50%;
}
}

