.container {
	padding-right: 16px;
	padding-left: 16px;
	
}

h1 {
	margin-top: 2px;
}

h1 .btn-default {
	background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}

h4 .btn-default {
	background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}

h5 .btn-default {
	background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}

.attributes {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #337ab7;
}

.attributes .attribute {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #337ab7;
}

.abilities .btn{
	font-size:50%;
	width: 100%

}

